:root {
  --cor-primaria: #ff4500;
  --cor-secundaria: #ff0000;
  --cor-texto: #000000;
  --cor-fundo: #e1efff;
  --cor-branca: #ffffff;
  --cor-borda: #e5e7eb;
  --cor-status: #2584f0;
  --sombra: 0 2px 5px rgba(0, 8, 255, 0.173);
}

body {
  background-color: var(--cor-fundo);
  font-family: "Nunito Sans", sans-serif;
  line-height: 1.6;
  color: var(--cor-texto);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.status {
  background-color: var(--cor-status);
  display: flex;
  justify-content: center;
  border-radius: 8px;
  margin: 20px;
  box-shadow: var(--sombra);
}

.status-conteudo {
  font-size: 1.3rem;
  text-align: center;
  margin: 0.9rem;
}

section {
  padding: 4rem 0;
}

section h2 {
  text-align: left;
  margin-bottom: 30px;
  font-size: 2rem;
}

.home-conteudo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 9rem;
}

.home-texto h1 {
  font-size: 2.8rem;
  font-weight: 800;
  margin-bottom: 1rem;
}

.home-texto p {
  font-size: 1.4rem;
  font-weight: 500;
  text-align: justify;
}

.img-container img {
  max-width: 400px;
}

#atividades h2 {
  font-weight: 800;
  margin-bottom: 0.5rem;
}

#atividades h4 {
  font-size: 1.25rem;
  margin-bottom: 2rem;
  font-weight: 600;
}

.atividade {
  background-color: var(--cor-branca);
  border: 1px solid var(--cor-borda);
  border-radius: 8px;
  padding: 1.5rem;
  margin-bottom: 1rem;
  box-shadow: var(--sombra);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.atividade h3 {
  font-size: 1.5rem;
}
.atividade p {
  font-size: 1rem;
}

.atividade a {
  background-color: var(--cor-primaria);
  display: inline-block;
  color: var(--cor-branca);
  padding: 0.5rem 1rem;
  border-radius: 8px;
  white-space: nowrap;
  text-decoration: none;

  transition: background-color 0.3s ease;
}

.atividade a:hover {
  background-color: var(--cor-secundaria);
}

footer {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
